<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @account.address %>
</p>

<p>
  <b>Payment method:</b>
  <%= @account.payment_method %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
